.cube-loader-frame {
  --cube-scale: 0.1;
  display: inline-flex;
  position: relative;
  width: calc(200px * var(--cube-scale));
  height: calc(320px * var(--cube-scale));
  pointer-events: none;
}

.cube-loader-frame--sm {
  --cube-scale: 0.1;
  overflow: hidden;
}

.cube-loader-frame--lg {
  --cube-scale: 0.48;
  overflow: visible;
}

.cube-loader {
  --duration: 3s;
  --primary: #f2f2f2;
  --primary-light: #c8c8c8;
  --primary-rgba: rgba(242, 242, 242, 0);
  --mask: #060606;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 320px;
  transform: scale(var(--cube-scale));
  transform-origin: top left;
  transform-style: preserve-3d;
}

.cube-loader:before,
.cube-loader:after {
  --r: 20.5deg;
  content: "";
  width: 320px;
  height: 140px;
  position: absolute;
  right: 32%;
  bottom: -11px;
  background: var(--mask);
  transform: translateZ(200px) rotate(var(--r));
  animation: cube-mask var(--duration) linear forwards infinite;
}

.cube-loader:after {
  --r: -20.5deg;
  right: auto;
  left: 32%;
}

.cube-loader .ground {
  position: absolute;
  left: -50px;
  bottom: -120px;
  transform-style: preserve-3d;
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}

.cube-loader .ground div {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, var(--primary) 0%, var(--primary) 50%, var(--primary-light) 50%, var(--primary-light) 100%);
  transform-style: preserve-3d;
  animation: cube-ground var(--duration) linear forwards infinite;
}

.cube-loader .ground div:before,
.cube-loader .ground div:after {
  --rx: 90deg;
  --ry: 0deg;
  --x: 44px;
  --y: 162px;
  --z: -50px;
  content: "";
  width: 156px;
  height: 300px;
  opacity: 0;
  background: linear-gradient(var(--primary), var(--primary-rgba));
  position: absolute;
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
  animation: cube-ground-shine var(--duration) linear forwards infinite;
}

.cube-loader .ground div:after {
  --rx: 90deg;
  --ry: 90deg;
  --x: 0;
  --y: 177px;
  --z: 150px;
}

.cube-loader .box {
  --x: 0;
  --y: 0;
  position: absolute;
  animation: var(--duration) linear forwards infinite;
  transform: translate(var(--x), var(--y));
}

.cube-loader .box div {
  background-color: var(--primary);
  width: 48px;
  height: 48px;
  position: relative;
  transform-style: preserve-3d;
  animation: var(--duration) ease forwards infinite;
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}

.cube-loader .box div:before,
.cube-loader .box div:after {
  --rx: 90deg;
  --ry: 0deg;
  --z: 24px;
  --y: -24px;
  --x: 0;
  content: "";
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
  filter: brightness(var(--b, 1.2));
}

.cube-loader .box div:after {
  --rx: 0deg;
  --ry: 90deg;
  --x: 24px;
  --y: 0;
  --b: 1.4;
}

.cube-loader .box.box0 {
  --x: -220px;
  --y: -120px;
  left: 58px;
  top: 108px;
  animation-name: cube-box-move0;
}

.cube-loader .box.box0 div {
  animation-name: cube-box-scale0;
}

.cube-loader .box.box1 {
  --x: -260px;
  --y: 120px;
  left: 25px;
  top: 120px;
  animation-name: cube-box-move1;
}

.cube-loader .box.box1 div {
  animation-name: cube-box-scale1;
}

.cube-loader .box.box2 {
  --x: 120px;
  --y: -190px;
  left: 58px;
  top: 64px;
  animation-name: cube-box-move2;
}

.cube-loader .box.box2 div {
  animation-name: cube-box-scale2;
}

.cube-loader .box.box3 {
  --x: 280px;
  --y: -40px;
  left: 91px;
  top: 120px;
  animation-name: cube-box-move3;
}

.cube-loader .box.box3 div {
  animation-name: cube-box-scale3;
}

.cube-loader .box.box4 {
  --x: 60px;
  --y: 200px;
  left: 58px;
  top: 132px;
  animation-name: cube-box-move4;
}

.cube-loader .box.box4 div {
  animation-name: cube-box-scale4;
}

.cube-loader .box.box5 {
  --x: -220px;
  --y: -120px;
  left: 25px;
  top: 76px;
  animation-name: cube-box-move5;
}

.cube-loader .box.box5 div {
  animation-name: cube-box-scale5;
}

.cube-loader .box.box6 {
  --x: -260px;
  --y: 120px;
  left: 91px;
  top: 76px;
  animation-name: cube-box-move6;
}

.cube-loader .box.box6 div {
  animation-name: cube-box-scale6;
}

.cube-loader .box.box7 {
  --x: -240px;
  --y: 200px;
  left: 58px;
  top: 87px;
  animation-name: cube-box-move7;
}

.cube-loader .box.box7 div {
  animation-name: cube-box-scale7;
}

@keyframes cube-box-move0 {
  12% { transform: translate(var(--x), var(--y)); }
  25%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale0 {
  6% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  14%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-box-move1 {
  16% { transform: translate(var(--x), var(--y)); }
  29%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale1 {
  10% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  18%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-box-move2 {
  20% { transform: translate(var(--x), var(--y)); }
  33%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale2 {
  14% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  22%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-box-move3 {
  24% { transform: translate(var(--x), var(--y)); }
  37%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale3 {
  18% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  26%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-box-move4 {
  28% { transform: translate(var(--x), var(--y)); }
  41%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale4 {
  22% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  30%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-box-move5 {
  32% { transform: translate(var(--x), var(--y)); }
  45%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale5 {
  26% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  34%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-box-move6 {
  36% { transform: translate(var(--x), var(--y)); }
  49%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale6 {
  30% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  38%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-box-move7 {
  40% { transform: translate(var(--x), var(--y)); }
  53%, 52% { transform: translate(0, 0); }
  80% { transform: translate(0, -32px); }
  90%, 100% { transform: translate(0, 188px); }
}

@keyframes cube-box-scale7 {
  34% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0); }
  42%, 100% { transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1); }
}

@keyframes cube-ground {
  0%, 65% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
  75%, 90% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
  }
  100% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
}

@keyframes cube-ground-shine {
  0%, 70% { opacity: 0; }
  75%, 87% { opacity: 0.2; }
  100% { opacity: 0; }
}

@keyframes cube-mask {
  0%, 65% { opacity: 0; }
  66%, 100% { opacity: 1; }
}
